body {
    margin: 0;
    /*margin: 10px;
    margin-top: 20px;*/
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*background-color: #24247a;*/
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /*width: 95%;*/
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    background-color: #f8f9fa;
}

h1 {
    margin: 0;
    margin-left: 15px;
    color: #181819;
    font-size: 28px;
}

.signin {
    margin: 0;
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    background: none;
    background-color: #007bff;
    font: inherit;
    font-size: 28px;
    color: white;
    padding: 20px;
}

main, .get_started {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: 750px;
    position: relative;
}

.get_started {
    height: 550px;
}

.cover {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: 750px;
    object-fit: cover;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 88%;
    max-width: 500px;
    margin: 10px;
    background: none;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: none;
    background-color: white;
    font: inherit;
    font-size: 28px;
    padding: 20px;
}

.signup {
    width: 100%;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: none;
    background-color: #007bff;
    font: inherit;
    font-size: 28px;
    color: white;
    padding: 20px;
}

.container1 {
    margin: 0;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: auto;
    background-color: #f8f9fa;
}
@media screen and (min-width: 930px) {
    .container1 {
        flex-direction: row;
        justify-content: center;
    }
}

.feature1 {
    padding-top: 35px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #007bff;
}
@media screen and (min-width: 930px) {
    .feature1 {
        max-width: 310px;
    }
}

h3 {
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 40px;
    text-align: center;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    color: #686a6b;
    font-size: 28px;
    text-align: center;
}

.container2 {
    margin: 0;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: auto;
    background-color: white;
    box-sizing: border-box;
}

.feature2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: 600px;
    object-fit: cover;
    object-position: -30px;
}

.h3palign {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.people_container {
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: auto;
}

.testim {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimg {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 0px 10px 6px rgba(179,187,194,1);
    object-fit: cover;
    width: 60%;
    min-width: 310px;
    max-width: 1100px;
}

h4 {
    margin: 0;
    font-size: 28px;
}

footer {
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 310px;
    max-width: 1100px;
    height: auto;
}

.links1 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 22px;
    line-height: 50px;
    font-weight: 700;
}

span {
    font-size: 10px;
    vertical-align: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.copyr {
    font-size: 22px;
}

.links2 {
    width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
/*$red: #ff3535;*/
